{{ form.media }}
{% if form.non_field_errors %}
  {{form.non_field_errors}}
{% endif %}
{% if form.forms and form.non_form_errors %}
  {{form.non_form_errors}}
{% endif %}
<table class="table table-striped table-bordered">
{{ management_form }}
{{form.show_init}}
{% if form.forms %}
    {{ form.management_form }}
      <tr>
      {% for field in form.0 %}
         <th {% if field.field.show == False %}class="collapse advanced_params"{% endif %}>
           {{field.label}}
         </th>
      {% endfor %}
      </tr>
      {% for form in form %}
        {% if form.non_field_errors %}
          <tr><td colspan="30">{{form.non_field_errors}}</td></tr>
        {% endif %}
        <tr>
        {% for field in form %}
          <td {% if field.field.show == False %}class="collapse advanced_params"{% endif %}>
            {{field.errors}} {{field}}
          </td>
        {% endfor %}
        </tr>
      {% endfor %}

{% else %}
    {% for field in form %}
      <tr {% if field.field.show == False %}class="collapse advanced_params"{% endif %}>
        <td>{{field.label_tag}}</td><td>{{ field.errors }} {{ field }} {{ field.help_text}}</td>
      </tr>
    {% endfor %}
{% endif %}
</table>
